# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite3

# Uploads (optional, but usually we don't commit large uploads)
backend/static/uploads/
backend/static/downloads/
backend/static/*.pdf

# OS
.DS_Store
Thumbs.db
